.locationGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.locationLabel {
  font-weight: 400;
  font-size: 16px;
  color: var(--gray);
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  position: absolute;
  left: 20px;
  width: 20px;
  height: 20px;
  color: var(--gray);
  pointer-events: none;
  transition: color 0.2s ease;
}

.input {
  width: 100%;
  height: 56px;
  padding: 0 18px 0 48px;
  background-color: var(--white);
  border: none;
  border-radius: 12px;
  outline: none;
}

.input:not(:placeholder-shown) + .icon,
.input:focus + .icon {
  color: var(--main);
}

.input::placeholder {
  color: var(--gray);
}
