.card {
  display: flex;
  gap: 24px;
  padding: 24px 97px 24px 24px;
  border-radius: 16px;
  background-color: var(--inputs);
}

.imageWrapper {
  position: relative;
  border-radius: 16px;
  width: 219px;
  height: 240px;
  flex-shrink: 0;
  overflow: hidden;
}

.img {
  object-fit: cover;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.name,
.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.infoRow {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.rating,
.location {
  display: flex;
  align-items: center;
  gap: 4px;
}

.starIcon {
  width: 16px;
  height: 16px;
  color: var(--rating);
  flex-shrink: 0;
}

.mapIcon {
  width: 16px;
  height: 16px;
  color: var(--main);
  flex-shrink: 0;
}

.description {
  color: var(--text);
  margin-bottom: 24px;
  line-clamp: 1;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.moreDetailsBtn {
  align-self: flex-start;
  padding: 16px 43.5px;
}
