.loaderWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  gap: 16px;
  background-color: var(--white);
  z-index: 999;
}

.loaderText {
  font-size: 16px;
  font-weight: 500;
  color: var(--grey-green);
  letter-spacing: -0.01em;
}
